## OpenAI API Key
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

## Define the path to the system prompt file or the system prompt itself

SYSTEM_PROMPT_PATH=./prompts/demp_prompt.txt

# SYSTEM_PROMPT=Your system prompt goes here. 